<header class="header">
    <h2 class="header_title"><span>MVX</span></h2>
    <div class="header_search">
        <input type="text" placeholder="Search">
        <button type="submit"><i class="fa fa-search"></i></button>
    </div>
    <nav id="header_navigation" class="header_navigation">
        <i class="fa fa-bell"></i>
        <a href="home.html">Home</a>
        <a href="#">Profile</a>
    </nav>   
</header>
<div class="Song-Title">
    <h1 id="back"><b> <%= Song.song_title%> </b></h1>
    <p class="title"><%= Song.song_artist%></p>
    <div class=push-left>
    <button class="heart">❤</button></div>
    <button class="X">x</button>
</div>
<hr class="c1">

<div class="Main-Container">
    <div class="Main-content">
        <div class="Main-details">
            <div class="Song-Details">
                <img class="scroll" src=<%= Song.song_img%>>
                <div class="deets">
                <p class="deets">4.98 ⭐</p>
                <p class="deets"><b>Album:</b> <%= Song.song_album%> </p>
                <p class="deets"><b>Release:</b> <%= Song.song_release%></p>
                <p class="deets"><b>Genre:</b> <%= Song.song_genre%></p>
                <p class="deets"><b>Writer:</b> <%= Song.song_writer%></p>
                <p class="deets"><b>Composers:</b> <%= Song.song_composers%></p>
                <p class="deets"><b>Publisher:</b> <%= Song.song_record_label%></p>
                <p class="deets"><b>No. of unique listeners:</b> <%= Song.song_listeners%></p>
                <button class="send"><img class="send" src="public/img/Youtube1.png"></button>
                <button class="send"><img class="send" src="public/img/Spotify1.png"></button>
                </div>
            </div>
            <hr>
            
            <!--WILL THINK OF WAY TO IMPLEMENT JS EJS MONGO HERE-->
            <div class="Popular-Tags">
                <div class="Popular-Tag-Button">
                    <h1>Popular Tags</h1>
                    <button class="addTags">Add Tags</button>
                </div>
                <div id="items">
                    <div class="item-tags">
                        <button class="tags">k-pop</button>
                    </div>

                    <div class="item-tags">
                        <button class="tags">2nd gen</button>
                    </div>

                    <div class="item-tags">
                        <button class="tags">db5k</button>
                    </div>

                    <div class="item-tags">
                        <button class="tags">2000s</button>
                    </div>

                    <div class="item-tags">
                        <button class="tags">good ol' days</button>
                    </div>
                    
                    <div class="item-tags">
                        <button class="tags">famous</button>
                    </div>

                    <div class="item-tags">
                        <button class="tags">pop</button>
                    </div>
                </div>
            </div>
            <hr>

            <div class="Rate-Review">
                <button class="rate-review">RATE</button>
                <div class="space">•</div>
                <button class="rate-review">REVIEW</button>
            </div>
            <hr>

            <h1>Most Upvoted Review</h1>
            <div class="Most-Upvoted-Review">
                <div class="MUR-container">
                <img class="user_icon push-center" src=<%= Song.song_top_user_img%>></img>
                <h2 class="username push-center"><%= Song.song_top_user_username%></h2>
                <h2 class="push-left"><%= Song.song_top_user_rating%></h2> <!--Not sure how we're gonna show this data as stars-->
                </div>
                <h1><%= Song.song_top_user_review_title%></h1>
                <p><%= Song.song_top_user_review_body%></p>
            </div>
            <hr>

            <!--Not sure how we're gonna show this data as stars either. Will only change danceability rating for now-->
            <div class="Criteria-Rating">
                <h1>Criteria Rating</h1>
                <h3><em>Danceability</em></h3>
                <div>
                    <%= Song.song_rating_danceability%>
                </div>

                <h3><em>Upbeat</em></h3>
                <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                    <path fill=#FFBD59 d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                    <path fill=#FFBD59 d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                    <path fill=#FFBD59 d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                    <path fill=#FFBD59 d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                    <path fill=#FFBD59 d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                </svg>
                </div>

                <h3><em>Catchiness</em></h3>
                <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                    <path fill=#FFBD59 d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                    <path fill=#FFBD59 d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                    <path fill=#FFBD59 d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                    <path fill=#FFBD59 d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-half" viewBox="0 0 16 16">
                    <path fill=#FFBD59 d="M5.354 5.119 7.538.792A.516.516 0 0 1 8 .5c.183 0 .366.097.465.292l2.184 4.327 4.898.696A.537.537 0 0 1 16 6.32a.548.548 0 0 1-.17.445l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256a.52.52 0 0 1-.146.05c-.342.06-.668-.254-.6-.642l.83-4.73L.173 6.765a.55.55 0 0 1-.172-.403.58.58 0 0 1 .085-.302.513.513 0 0 1 .37-.245l4.898-.696zM8 12.027a.5.5 0 0 1 .232.056l3.686 1.894-.694-3.957a.565.565 0 0 1 .162-.505l2.907-2.77-4.052-.576a.525.525 0 0 1-.393-.288L8.001 2.223 8 2.226v9.8z"/>
                </svg>
                </div>

                <h3><em>Vocals</em></h3>
                <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                    <path fill=#FFBD59 d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                    <path fill=#FFBD59 d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                        <path fill=#FFBD59 d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                <path fill=#FFBD59 d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-half" viewBox="0 0 16 16">
                    <path fill=#FFBD59 d="M5.354 5.119 7.538.792A.516.516 0 0 1 8 .5c.183 0 .366.097.465.292l2.184 4.327 4.898.696A.537.537 0 0 1 16 6.32a.548.548 0 0 1-.17.445l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256a.52.52 0 0 1-.146.05c-.342.06-.668-.254-.6-.642l.83-4.73L.173 6.765a.55.55 0 0 1-.172-.403.58.58 0 0 1 .085-.302.513.513 0 0 1 .37-.245l4.898-.696zM8 12.027a.5.5 0 0 1 .232.056l3.686 1.894-.694-3.957a.565.565 0 0 1 .162-.505l2.907-2.77-4.052-.576a.525.525 0 0 1-.393-.288L8.001 2.223 8 2.226v9.8z"/>
                </svg>
                </div>
            </div>
            <hr>

            <div class="Reviews-and-Comments">
                <div class="RC-F">
                    <h1>Reviews & Comments</h1>
                    <button class="VM push-left">View More</button>
                </div>
                <div id="items">
                    <div class="item-review">
                        <div class="MUR-container">
                            <img class="user_icon push-center" src="public/img/profilepicture.jpg"></img>
                            <h2 class="username push-center">@try-bal2</h2>
                            <h2 class="push-left">5⭐</h2>
                        </div>
                            <h2>I luv this song!</h2>
                            <p>I am a pre-break Cassiopeia and let <br>
                            me tell you that even after almost a <br>
                            decade and a half, this song still hi...</p>
                        </div>

                    <div class="item-review">
                        <div class="MUR-container">
                            <img class="user_icon push-center" src="public/img/profilepicture.jpg"></img>
                            <h2 class="username push-center">@db5k.fvr</h2>
                            <h2 class="push-left">5⭐</h2>
                        </div>
                        <div>
                            <h2>You're not a rea...</h2>
                            <p>Of course people know about <br>
                            Mirotic, it's TVXQ's most popular <br>
                            song, but IMO this is still their bes...</p>
                        </div>
                    </div>
                </div>
            </div>

            <!--Also don't know how to do this, but im gonna change similar songs and keep from the same artist-->
            <div class="Similar-Songs">
                <%=Song.song_similar_to_this %>
            </div>
            
            <div class="Same-Artist">
                <h1>From the same artist</h1>
                <div id="items">
                    <div class="item">
                        <img class="scroll" src = "public/img/rising sun tvxq.jpg"></img>
                        <h2 class="scroll">Rising Sun</h2>
                        <p>TVXQ! (동방신기)</p>
                    </div>

                    <div class="item">
                        <img class="scroll" src = "public/img/shalala taeyong.jpg"></img>
                        <h2 class="scroll">Shalala</h2>
                        <p>TAEYONG</p>
                    </div>

                    <div class="item">
                        <img class="scroll" src = "public/img/unforgiven le sserafim.png"></img>
                        <h2 class="scroll">Unforgiven</h2>
                        <p>LE SSERAFIM (르세라핌)</p>
                    </div>

                    <div class="item">
                        <img class="scroll" src = "public/img/tri-angle tvxq.jpg"></img>
                        <h2 class="scroll">TRI-ANGLE</h2>
                        <p>TVXQ! (동방신기)</p>
                    </div>

                    <div class="item">
                        <img class="scroll" src = "public/img/dark blood enhypen.jpg"></img>
                        <h2 class="scroll">DARK BLOOD</h2>
                        <p>ENHYPEN</p>
                    </div>
                    
                    <div class="item">
                        <img class="scroll" src = "public/img/masterpiece misamo.jpeg"></img>
                        <h2 class="scroll">Masterpiece</h2>
                        <p>TWICE-MISAMO</p>
                    </div>

                    <div class="item">
                        <img class="scroll" src = "public/img/MiroticTVXQ.png">
                        <h2 class="scroll">MIROTIC</h2>
                        <p>TVXQ! (동방신기)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="Lyrics">
        <h2>Lyrics</h2>
        <p>Now, I cry under my skin.
            하늘을 향해 간 나의 눈물로 만든 비가
            대지에 내려도 세월에 박힌
            내 아픔을 씻어가도
            No! 용서, 내겐 절대적인 사치
            No! 표적 없이 날아간 길을 잃은 분노
            No! 나, 미련 같은 말로 기도하는 속죄
            No! Here I go, Come back!
            <br>
            <br>
            <br>
            힘을 잃어버린 날개,
            재가 되어 버릴 것만 같은 날들
            비상하리란 꿈의 파편들로
            맞은 나의 아침엔 반짝임이 없는데
            
            진실은 누구라도 갖고 있는 것
            하지만 보여준 얼굴엔 거짓뿐인걸
            영원에 남겨진 나를 찾는가?
            <br>
            <br>
            <br>
            나를 닮아
            가슴 안에 가득 차 커져가는 Innocent
            불꽃은 밝게 타오르게,
            마지막이 찬란한 노을처럼
            (I’m) waiting for Rising sun…
            <br>
            <br>
            <br>
            Now, burn my eyes.
            Sun comes up, blowing the fog
            Never lies, to be your mind.
            Got to be a true
            내 갈 길이 101 깨달음에 깨달음에
            도달할 수가 없는 게 현실인걸
            나의 태양 앞에 부끄럽지 않게,
            I just try me..and now
            <br>
            <br>
            <br>
            정말, 혼돈에 끝은 어딜까?
            Somebody talks 매일 같은 답은 아냐
            절망, 행복의 밑그림 일까?
            Somebody talks 시간만이 아는 해답
            <br>
            <br>
            <br>
            인생은 마치 끝없는
            궤도를 달리는 별 같아
            마치 수많은 질문과 해답을 찾아가,
            미완성의 그림을 그려가는 것
            (Do) you know why?
            <br>
            <br>
            <br>
            이 시간은 언제나 흘러가,
            돌아오지 않는다는 것을 잘 알아
            하루하루 후회를 남겨 두지마..
            고독이 낳은 분노마저 삼켜봐
            고단해진 슬픔의 눈물에서
            실현되는 행복의 가치를 믿어봐
            <br>
            <br>
            <br>
            시련들이 내민 손에 작은 입맞춤,
            고난의 뜰에 핀 나의 순수함
            아무것도 정한 건 없겠지만,
            매일 새로운 날이 계속 될 테니까
            <br>
            <br>
            <br>
            나를 닮아
            가슴 안에 가득 차 커져가는 Innocent
            불꽃은 밝게 타오르게,
            마지막이 찬란한 노을처럼
            (I’m) waiting for Rising sun…
            <br>
            <br>
            <br>
            정말, 혼돈에 끝은 어딜까?
            Somebody talks 매일 같은 답은 아냐
            절망, 행복의 밑그림 일까?
            Somebody talks 시간만이 아는 해답
            Rise up, rise up
            </p>
    </div>
    
</div>
<div class="Back-To-Top">
    <a href="#back"><button class="BTT"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
    </svg>
    </button></a>
    <p>Back to Top</p>
</div>