<!DOCTYPE html>
<html>
    <head>
        <title>Song Page</title>
        <link rel = "stylesheet" href = "/css/sampledatastyles.css">
    </head>
<body>
    <header class="header">
        <h2 class="header_title"><span>MVX</span></h2>
        <div class="header_search">
            <input type="text" placeholder="Search">
            <button type="submit"><i class="fa fa-search"></i></button>
        </div>
        <nav id="header_navigation" class="header_navigation">
            <i class="fa fa-bell"></i>
            <a href="/home" class="">Home</a>
            <a href="/profile" class="">Profile</a>
        </nav>   
    </header>
    <div class="Song-Title">
        <h1 id="back"><b> <%= songdata.song_title%> </b></h1>
        <p class="title"><%= songdata.song_artist %></p>
        <div class=push-left>
    </div>
    </div>
    <hr class="c1">
    <div class="Main-Container">
        <div class="Main-content">
            <div class="Main-details">
                <div class="Song-Details">
                    <img class="scroll" src=<%= songdata.song_img %> >
                    <div class="deets">
                    <p class="deets">4.98 ⭐</p>
                    <p class="deets"><b>Album:</b> <%= songdata.song_album %> </p>
                    <p class="deets"><b>Release Date:</b> <%= songdata.release %></p>
                    <p class="deets"><b>Genre:</b> <%= songdata.song_genre %></p>
                    <p class="deets"><b>Lyrics:</b> <%= songdata.song_writer%></p>
                    <p class="deets"><b>Composers:</b> <%= songdata.song_composers %></p>
                    <p class="deets"><b>Publisher:</b> <%= songdata.song_record_label %></p>
                    <p class="deets"><b>No. of unique listeners:</b> <%= songdata.song_listeners %></p>
                    <button class="send"><img class="send" src="public/img/Youtube1.png"></img></button>
                    <button class="send"><img class="send" src="public/img/Spotify1.png"></img></button>
                    </div>
                </div>
                <hr>
                
                <div class="Popular-Tags">
                    <div class="Popular-Tag-Button">
                        <h1>Popular Tags</h1>
                        <button class="addTags">Add Tags</button>
                    </div>
                    <div id="items">
                        <% songdata.song_tags.forEach(element => { %>
                            <div class="item-tags">
                                <button class = "tags"><%= element%></button>
                            </div>
                        <% }) %>
                    </div>
                </div>
                <hr>

                <div class="Rate-Review">
                    <button class="rate-review">RATE</button>
                    <div class="space">•</div>
                    <button class="rate-review">REVIEW</button>
                </div>
                <hr>

                <h1>Most Upvoted Review</h1>
                <div class="Most-Upvoted-Review">
                    <div class="MUR-container">
                    <img class="user_icon push-center" src="public/img/profilepicture.jpg"></img>
                    <h2 class="username push-center">@juandela.c</h2>
                    <h2 class="push-left">⭐⭐⭐⭐⭐</h2>
                    </div>
                    <h1>The absolute best of 2000's K-Pop.</h1>
                    <p>This song is without a doubt, the best song that DB5K (TVXQ! when they were 5 members huhu pls come back h...</p>
                </div>
                <hr>

                <div class="Criteria-Rating">
                    <h1>Criteria Rating</h1>
                    <h3><em>Danceability</em></h3>
                    <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                        <path fill=#FFBD59 d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                        <path fill=#FFBD59 d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                        <path fill=#FFBD59 d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                        <path fill=#FFBD59 d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                        <path fill=#FFBD59 d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                    </svg>
                    </div>

                    <h3><em>Upbeat</em></h3>
                    <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                        <path fill=#FFBD59 d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                        <path fill=#FFBD59 d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                        <path fill=#FFBD59 d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                        <path fill=#FFBD59 d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                        <path fill=#FFBD59 d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                    </svg>
                    </div>

                    <h3><em>Catchiness</em></h3>
                    <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                        <path fill=#FFBD59 d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                        <path fill=#FFBD59 d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                        <path fill=#FFBD59 d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                        <path fill=#FFBD59 d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-half" viewBox="0 0 16 16">
                        <path fill=#FFBD59 d="M5.354 5.119 7.538.792A.516.516 0 0 1 8 .5c.183 0 .366.097.465.292l2.184 4.327 4.898.696A.537.537 0 0 1 16 6.32a.548.548 0 0 1-.17.445l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256a.52.52 0 0 1-.146.05c-.342.06-.668-.254-.6-.642l.83-4.73L.173 6.765a.55.55 0 0 1-.172-.403.58.58 0 0 1 .085-.302.513.513 0 0 1 .37-.245l4.898-.696zM8 12.027a.5.5 0 0 1 .232.056l3.686 1.894-.694-3.957a.565.565 0 0 1 .162-.505l2.907-2.77-4.052-.576a.525.525 0 0 1-.393-.288L8.001 2.223 8 2.226v9.8z"/>
                    </svg>
                    </div>

                    <h3><em>Vocals</em></h3>
                    <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                        <path fill=#FFBD59 d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                        <path fill=#FFBD59 d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                            <path fill=#FFBD59 d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                    <path fill=#FFBD59 d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-half" viewBox="0 0 16 16">
                        <path fill=#FFBD59 d="M5.354 5.119 7.538.792A.516.516 0 0 1 8 .5c.183 0 .366.097.465.292l2.184 4.327 4.898.696A.537.537 0 0 1 16 6.32a.548.548 0 0 1-.17.445l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256a.52.52 0 0 1-.146.05c-.342.06-.668-.254-.6-.642l.83-4.73L.173 6.765a.55.55 0 0 1-.172-.403.58.58 0 0 1 .085-.302.513.513 0 0 1 .37-.245l4.898-.696zM8 12.027a.5.5 0 0 1 .232.056l3.686 1.894-.694-3.957a.565.565 0 0 1 .162-.505l2.907-2.77-4.052-.576a.525.525 0 0 1-.393-.288L8.001 2.223 8 2.226v9.8z"/>
                    </svg>
                    </div>
                </div>
                <hr>

                <div class="Reviews-and-Comments">
                    <div class="RC-F">
                        <h1>Reviews & Comments</h1>
                        <button class="VM push-left">View More</button>
                    </div>
                    <div id="items">
                        <div class="item-review">
                            <div class="MUR-container">
                                <img class="user_icon push-center" src="public/img/profilepicture.jpg"></img>
                                <h2 class="username push-center">@try-bal2</h2>
                                <h2 class="push-left">5⭐</h2>
                            </div>
                                <h2>I luv this song!</h2>
                                <p>I am a pre-break Cassiopeia and let <br>
                                me tell you that even after almost a <br>
                                decade and a half, this song still hi...</p>
                            </div>

                        <div class="item-review">
                            <div class="MUR-container">
                                <img class="user_icon push-center" src="public/img/profilepicture.jpg"></img>
                                <h2 class="username push-center">@db5k.fvr</h2>
                                <h2 class="push-left">5⭐</h2>
                            </div>
                            <div>
                                <h2>You're not a rea...</h2>
                                <p>Of course people know about <br>
                                Mirotic, it's TVXQ's most popular <br>
                                song, but IMO this is still their bes...</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="Similar-Songs">
                <h1>Similar to this</h1>
                    <div id="items">
                        <div class="item">
                            <img class="scroll" src = "public/img/rising sun tvxq.jpg"></img>
                                <h2 class="scroll">Rising Sun</h2>
                                <p>TVXQ! (동방신기)</p>
                        </div>

                        <div class="item">
                            <img class="scroll" src = "public/img/shalala taeyong.jpg"></img>
                            <h2 class="scroll">Shalala</h2>
                            <p>TAEYONG</p>
                        </div>

                        <div class="item">
                            <img class="scroll" src = "public/img/unforgiven le sserafim.png"></img>
                            <h2 class="scroll">Unforgiven</h2>
                            <p>LE SSERAFIM (르세라핌)</p>
                        </div>

                        <div class="item">
                            <img class="scroll" src = "public/img/tri-angle tvxq.jpg"></img>
                            <h2 class="scroll">TRI-ANGLE</h2>
                            <p>TVXQ! (동방신기)</p>
                        </div>

                        <div class="item">
                            <img class="scroll" src = "public/img/dark blood enhypen.jpg"></img>
                            <h2 class="scroll">DARK BLOOD</h2>
                            <p>ENHYPEN</p>
                        </div>
                        
                        <div class="item">
                            <img class="scroll" src = "public/img/masterpiece misamo.jpeg"></img>
                            <h2 class="scroll">Masterpiece</h2>
                            <p>TWICE-MISAMO</p>
                        </div>

                        <div class="item">
                            <img class="scroll" src = "public/img/MiroticTVXQ.png"></img>
                            <h2 class="scroll">MIROTIC</h2>
                            <p>TVXQ! (동방신기)</p>
                        </div>
                    </div>
                </div>
                
                <div class="Same-Artist">
                    <h1>From the same artist</h1>
                    <div id="items">
                        <div class="item">
                            <img class="scroll" src = "public/img/rising sun tvxq.jpg"></img>
                            <h2 class="scroll">Rising Sun</h2>
                            <p>TVXQ! (동방신기)</p>
                        </div>

                        <div class="item">
                            <img class="scroll" src = "public/img/shalala taeyong.jpg"></img>
                            <h2 class="scroll">Shalala</h2>
                            <p>TAEYONG</p>
                        </div>

                        <div class="item">
                            <img class="scroll" src = "public/img/unforgiven le sserafim.png"></img>
                            <h2 class="scroll">Unforgiven</h2>
                            <p>LE SSERAFIM (르세라핌)</p>
                        </div>

                        <div class="item">
                            <img class="scroll" src = "public/img/tri-angle tvxq.jpg"></img>
                            <h2 class="scroll">TRI-ANGLE</h2>
                            <p>TVXQ! (동방신기)</p>
                        </div>

                        <div class="item">
                            <img class="scroll" src = "public/img/dark blood enhypen.jpg"></img>
                            <h2 class="scroll">DARK BLOOD</h2>
                            <p>ENHYPEN</p>
                        </div>
                        
                        <div class="item">
                            <img class="scroll" src = "public/img/masterpiece misamo.jpeg"></img>
                            <h2 class="scroll">Masterpiece</h2>
                            <p>TWICE-MISAMO</p>
                        </div>

                        <div class="item">
                            <img class="scroll" src = "public/img/MiroticTVXQ.png">
                            <h2 class="scroll">MIROTIC</h2>
                            <p>TVXQ! (동방신기)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="Lyrics">
            <h2>Lyrics</h2>
            <%= songdata.song_lyrics %>
        </div>
        
    </div>
    <div class="Back-To-Top">
        <a href="#back"><button class="BTT"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
        </svg>
        </button></a>
        <p>Back to Top</p>
    </div>
</body>
</html>