<!--WHOLE NEW SET OF CODE, TO TEST. SIMILAR TO THE CODE IN THE YT VIDEOS-->

<h1><%= data.song_title %></h1>
<p><%= data.song_artist %></p>

<div class="deets">
    <p><%=data.song_album  %></p>
    <p><%=data.song_release %></p>
    <p><%=data.song_genre %></p>
    <p><%=data.song_writer  %></p>
    <p><%=data.song_composer  %></p>
    <p><%=data.song_record_label  %></p>
</div>